:root {
  font-family: system-ui;
}

body {
  max-width: 600px;
  margin: auto;
  padding: 1em;
}
@media (width > 900px) {
  body {
    max-width: 900px;
  }
}

section {
  display: grid;
}

@media (width > 900px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width > 1200px) {
  section {
    grid-template-columns: 2fr 1fr;
  }
}

canvas {
  /* Overflow allowed outside of the container */
  --overflow: 15%;
  position: absolute;
  left: calc(-1 * var(--overflow));
  top: calc(-1 * var(--overflow));
  z-index: -1;
  width: calc(100% + 2 * var(--overflow));
  height: calc(100% + 2 * var(--overflow));
}

@media (width < 600px) {
  canvas {
    /* match body padding */
    --overflow: 1em;
  }
}

@media (width > 900px) {
  main {
    border-radius: 1px;
    outline-offset: -2px;
  }
}

header {
  font-family: "Kanit";
  font-size: 2em;
}

footer {
  margin-top: 5em;
  text-align: center;
}

#canvas-container {
  height: 23em;
  position: relative;
  margin-bottom: 3em;
}

@media (width < 600px) {
  #canvas-container {
    height: 20em;
  }
}

#flip {
  margin-top: 1em;
  display: block;
  height: 2em;
  width: 100%;
}

.input-wrapper {
  display: flex;
  gap: 1em;
}

.input-wrapper [type="range"] {
  flex-grow: 1;
}

.input-wrapper label {
  min-width: 3em;
}
