:root {
  font-family: system-ui;
}

body {
  max-width: 600px;
  margin: auto;
}
@media (width > 900px) {
  body {
    max-width: 900px;
  }
}

section {
  display: grid;
}

@media (width > 900px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}

canvas {
  /* Overflow allowed outside of the container */
  /* --overflow: value is set from JS */
  position: absolute;
  left: calc(-1 * var(--overflow));
  top: calc(-1 * var(--overflow));
  z-index: -1;
  width: calc(100% + 2 * var(--overflow));
}

main {
  padding: 2em;
}
@media (width > 900px) {
  main {
    border-radius: 1px;
    outline-offset: -2px;
  }
}

header {
  font-family: "Kanit";
  font-size: 2em;
}

footer {
  margin-top: 5em;
  text-align: center;
}

#canvas-container {
  height: 20em;
  position: relative;
}

#flip {
  margin-top: 1em;
  display: block;
  height: 2em;
  width: 100%;
}
